# ---- Logical Replication ----
wal_level = logical
max_replication_slots = 10
max_wal_senders = 10
max_logical_replication_workers = 8
shared_preload_libraries = 'pglogical'

# ---- Performance ----
synchronous_commit = off
wal_compression = on
checkpoint_timeout = 15min
checkpoint_completion_target = 0.9

# ---- Network ----
listen_addresses = '*'
tcp_keepalives_idle = 30
tcp_keepalives_interval = 10
tcp_keepalives_count = 5

# ---- Node Identity ----
my.node_role = '{{ node_role }}'
