global
    log /dev/log local0
    maxconn 10000
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend postgres_front
    bind *:{{ haproxy_port }}
    default_backend postgres_back

backend postgres_back
    balance roundrobin
    option tcp-check

    server odd_node  {{ hostvars[groups['odd'][0]].ansible_host }}:{{ pg_port }} check
    server even_node {{ hostvars[groups['even'][0]].ansible_host }}:{{ pg_port }} check
