global_defs {
    router_id {{ inventory_hostname }}
    script_user keepalived_script
    enable_script_security
}

vrrp_script chk_haproxy {
    script "/etc/keepalived/chk_haproxy.sh"
    interval 2
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if node_role == 'ODD' else 'BACKUP' }}
    interface {{ net_iface }}
    virtual_router_id 51
    priority {{ vrrp_priority }}
    advert_int 1

    unicast_src_ip {{ ansible_host }}
    unicast_peer {
{% for host in groups['postgres'] %}
{% if host != inventory_hostname %}
        {{ hostvars[host].ansible_host }}
{% endif %}
{% endfor %}
    }

    authentication {
        auth_type PASS
        auth_pass PgVip123
    }

    virtual_ipaddress {
        {{ vip_ip }}/24
    }

    track_script {
        chk_haproxy
    }

    notify /etc/keepalived/notify_vip.sh
}
