- name: Generate Keycloak DB password (shared)
  set_fact:
    kc_password: "{{ lookup('password', '/tmp/kc_pass length=24 chars=ascii_letters,digits') }}"
  run_once: true

- name: Create Keycloak DB user
  become: yes
  become_user: postgres
  postgresql_user:
    name: kc_user
    password: "{{ kc_password }}"
    role_attr_flags: "LOGIN,REPLICATION"
    state: present

- name: Create Keycloak database
  become: yes
  become_user: postgres
  postgresql_db:
    name: keycloak
    owner: kc_user
    state: present

- name: Allow Keycloak node access
  become: yes
  become_user: postgres
  lineinfile:
    path: /etc/postgresql/16/main/pg_hba.conf
    line: "host  keycloak  kc_user  140.245.6.225/32  md5"
    state: present
  notify: reload postgres

- name: Enable pglogical in Keycloak DB
  become: yes
  become_user: postgres
  postgresql_ext:
    name: pglogical
    db: keycloak
    state: present

- name: Register Keycloak pglogical node
  become: yes
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.create_node(
      node_name := '{{ inventory_hostname }}_kc',
      dsn := 'host={{ ansible_host }} dbname=keycloak user=kc_user password={{ kc_password }}'
    ) WHERE NOT EXISTS (
      SELECT 1 FROM pglogical.node WHERE node_name='{{ inventory_hostname }}_kc'
    );"

- name: Create Keycloak replication set
  become: yes
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.create_replication_set('rs_keycloak')
    WHERE NOT EXISTS (
      SELECT 1 FROM pglogical.replication_set WHERE set_name='rs_keycloak'
    );"

- name: Subscribe to peer Keycloak node
  become: yes
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.create_subscription(
      subscription_name := 'sub_{{ inventory_hostname }}_kc',
      provider_dsn := 'host={{ peer_host }} dbname=keycloak user=kc_user password={{ kc_password }}',
      replication_sets := ARRAY['rs_keycloak']
    ) WHERE NOT EXISTS (
      SELECT 1 FROM pglogical.subscription
      WHERE sub_name='sub_{{ inventory_hostname }}_kc'
    );"