- name: Generate Keycloak DB password (shared)
  set_fact:
    kc_password: "{{ lookup('password', '/tmp/kc_pass length=24 chars=ascii_letters,digits') }}"
  run_once: true

- name: Create Keycloak DB user
  shell: |
    sudo -u postgres psql <<SQL
    DO \$\$
    BEGIN
      IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = 'kc_user') THEN
        CREATE ROLE kc_user LOGIN PASSWORD '{{ kc_password }}' REPLICATION;
      END IF;
    END
    \$\$;
    SQL

- name: Create Keycloak database
  shell: |
    sudo -u postgres psql <<SQL
    SELECT 'CREATE DATABASE keycloak OWNER kc_user'
    WHERE NOT EXISTS (SELECT 1 FROM pg_database WHERE datname = 'keycloak');
    SQL

- name: Allow Keycloak VM access
  lineinfile:
    path: /etc/postgresql/16/main/pg_hba.conf
    line: "host    keycloak    kc_user    140.245.6.225/32    md5"
    state: present

- name: Allow Keycloak DB replication between PostgreSQL nodes
  lineinfile:
    path: /etc/postgresql/16/main/pg_hba.conf
    line: "host    keycloak    kc_user    {{ hostvars[item].ansible_host }}/32    md5"
    state: present
  loop: "{{ groups['postgres'] }}"

- name: Reload PostgreSQL to apply pg_hba
  service:
    name: postgresql
    state: reloaded

- name: Enable pglogical in Keycloak DB
  shell: sudo -u postgres psql -d keycloak -c "CREATE EXTENSION IF NOT EXISTS pglogical;"

- name: Grant pglogical permissions to kc_user
  shell: |
    sudo -u postgres psql -d keycloak <<SQL
    GRANT USAGE ON SCHEMA pglogical TO kc_user;
    GRANT SELECT ON ALL TABLES IN SCHEMA pglogical TO kc_user;
    GRANT EXECUTE ON ALL FUNCTIONS IN SCHEMA pglogical TO kc_user;
    ALTER DEFAULT PRIVILEGES IN SCHEMA pglogical
      GRANT SELECT ON TABLES TO kc_user;
    ALTER DEFAULT PRIVILEGES IN SCHEMA pglogical
      GRANT EXECUTE ON FUNCTIONS TO kc_user;
    SQL

- name: Register Keycloak pglogical node
  shell: |
    sudo -u postgres psql -d keycloak -c "
    SELECT pglogical.create_node(
      node_name := '{{ inventory_hostname }}_kc',
      dsn := 'host={{ ansible_host }} dbname=keycloak user=kc_user password={{ kc_password }}'
    )
    WHERE NOT EXISTS (
      SELECT 1 FROM pglogical.node WHERE node_name='{{ inventory_hostname }}_kc'
    );"

- name: Create Keycloak replication set
  shell: |
    sudo -u postgres psql -d keycloak -c "
    SELECT pglogical.create_replication_set('rs_keycloak')
    WHERE NOT EXISTS (
      SELECT 1 FROM pglogical.replication_set WHERE set_name='rs_keycloak'
    );"

- name: Drop old Keycloak subscription if exists
  shell: |
    sudo -u postgres psql -d keycloak -c "
    SELECT pglogical.drop_subscription('sub_{{ inventory_hostname }}_kc', true)
    WHERE EXISTS (
      SELECT 1 FROM pglogical.subscription
      WHERE sub_name='sub_{{ inventory_hostname }}_kc'
    );"

- name: Create Keycloak Active-Active subscription
  shell: |
    sudo -u postgres psql -d keycloak -c "
    SELECT pglogical.create_subscription(
      subscription_name := 'sub_{{ inventory_hostname }}_kc',
      provider_dsn := 'host={{ peer_host }} dbname=keycloak user=kc_user password={{ kc_password }}',
      replication_sets := ARRAY['rs_keycloak']
    );"
  register: sub_result
  retries: 5
  delay: 10
  until: sub_result.rc == 0
