- name: Create Keycloak database
  become_user: postgres
  postgresql_db:
    name: keycloak
    encoding: UTF8
    lc_collate: C
    lc_ctype: C
    state: present

- name: Create Keycloak DB user
  become_user: postgres
  postgresql_user:
    name: kc_user
    password: "{{ kc_db_password }}"
    role_attr_flags: LOGIN
    state: present

- name: Grant privileges on Keycloak DB
  become_user: postgres
  postgresql_privs:
    db: keycloak
    role: kc_user
    type: database
    privs: ALL

- name: Add pg_hba rule for Keycloak node
  template:
    src: pg_hba_keycloak.conf.j2
    dest: /etc/postgresql/16/main/pg_hba.d/keycloak.conf
  notify: reload postgres

- name: Ensure pglogical extension in keycloak DB
  become_user: postgres
  postgresql_ext:
    name: pglogical
    db: keycloak
    state: present

- name: Register pglogical node for Keycloak
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.create_node(
      node_name := '{{ inventory_hostname }}_kc',
      dsn := 'host={{ ansible_host }} port=5432 dbname=keycloak user=kc_user password={{ kc_db_password }}'
    );"
  args:
    creates: "/tmp/kc_node_{{ inventory_hostname }}"
  register: kc_node
  changed_when: "'already exists' not in kc_node.stderr"

- name: Create Keycloak replication set
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.create_replication_set('rs_keycloak');"
  ignore_errors: yes

- name: Add all tables to Keycloak replication set
  become_user: postgres
  shell: |
    psql -d keycloak -c "
    SELECT pglogical.replication_set_add_all_tables(
      set_name := 'rs_keycloak',
      schema_names := ARRAY['public']
    );"
  ignore_errors: yes
