# Keycloak server access
host    keycloak     kc_user     140.245.6.225/32     scram-sha-256

# Active-Active peer DB access
host    keycloak     kc_user     10.0.0.145/32        scram-sha-256
host    keycloak     kc_user     10.0.0.155/32        scram-sha-256

